.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

table,
td,
th {
    font-family: "Montserrat", sans-serif;
    border: 1px solid darkslategrey;
    width: 20%;
}

#tableOfValues {
    display: none;
    border: 1px;
}

td,
th {
    text-align: center;
    padding: 8px;
}

input {
    width: 40px;
    height: 30px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

#answer {
    width: 260px;
    justify-content: space-between;
    align-items: center;
    display: none;
}

#twoChoices {
    width: 260px;
    display: flex;
    margin-bottom: 22px;
    justify-content: space-around;
    align-items: center;
    display: none;
}

#multiplicative {
    width: 86px;
}

#topSection {
    display: flex;
    align-items: center;
}

#nextProblem {
    height: 40px;
    margin-left: 30px;
}

#score {
    margin: 30px;
}