.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

table,
td,
th {
    font-family: "Montserrat", sans-serif;
    border: 1px solid darkslategrey;
    width: 20%;
}

td,
th {
    text-align: center;
    padding: 8px;
}

input {
    width: 40px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
}

#answerArea {
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#twoChoices {
    width: 260px;
    display: flex;
    margin-bottom: 22px;
    justify-content: space-around;
    align-items: center;
}

#multiplicative {
    width: 86px;
}